*{
   box-sizing:border-box;
}
html{
    font-size: 62.5%;
}
body{
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: #333;
    height: 100vh;
    font-size: 3rem;
}

.hello{background-color: #fff;}

.menu >.menu-item{
    display: inline-block;
    margin: 0 20px;
    position: relative;
    padding-bottom: 20px;
}

a{
    text-decoration: none;
    color: #fff;
}
.menu-item:hover{
    background-color: #ddd;
}
.menu-item:hover > .sub-menu{
    display: block;
}

.sub-menu{
    display: none;
    position: absolute;
    top : 40px;
    left: -10px;
    background-color: #fff;
    min-width: 100px;
}

.sub-menu .sub-menu{
    left: 100%;
    top: 2px;   
}
.sub-menu a{
    display:block;
    color: #000;
    border-bottom: 1px solid #000;
}



